/* Basic styles with a mobile-first approach */
body, header, main, footer {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #523623;
}

footer {
      color: #69691f;
      font-weight: 300;
}

.logo {
    width: 6em;
    height: auto;
    margin: 2em 0 0 3em;
}

.title, nav ul, footer, #menuIcon {
    text-align: center;
} 

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

/* mobile nav bar lines */

#menuIcon {
    cursor: pointer;
    font-size: 30px;
}

#menuItems {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 50%;
    text-align: center;
    display: block;
}

#menuItems li {
    padding: 10px;
    font-size: 24px;
}

#menuItems li a {
    text-decoration: none;
}

#menuItems li:first-child {
    border: none;
    text-align: right;
    font-size: 30px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

/* Responsive design adjustments */
@media (min-width: 600px) {
    nav ul li {
        margin-right: 20px;
    }
}

/* Additional styles for larger screens */
@media (min-width: 800px) {
    nav ul li {
        display: inline;
    }
}

/* from tablet and laptop */
@media (min-width: 768px) {
    /* Your CSS rules for tablets */
    body {
        font-size: 16px; /* Larger font size for tablet */
    }

    #menuIcon, #closeIcon{
        display: none; /* Hide hamburger menu on tablet size */
    }

    #menuItems {
        display: block; /* Always show menu items inline */
    }

    #menuItems li {
        display: inline-block; /* Display menu items in a row */
        padding: 10px 15px; /* Adjust padding for tablet size */
    }

    #menuItems li a {
        padding: 10px; /* Padding around links for easier clicking */
    }

    /* Additional styles can be added here */
}


/*  laptop only */
@media (min-width: 992px) {
    /* Your CSS rules for desktop */
    body {
        font-size: 18px; /* Larger font size for desktop */
    }

    #menuItems li {
        padding: 10px 20px; /* Adjust padding for desktop size */
    }

    /* Additional styles can be added here */
}

