/* Basic styles with a mobile-first approach */
body, header, main, footer {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #523623;
}

main {
    padding: 1em 2em;
}

footer {
    color: #69691f;
    font-weight: 300;
}

.logo {
    width: 6em;
    height: auto;
    margin: 2em 0 0 3em;
}

.title, nav ul, footer, #menuIcon {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: block;
    margin-right: 10px;
}

nav ul li a {
    color: #523623;
    text-decoration: none;
}

/* Mobile nav bar icon */
#menuIcon {
    cursor: pointer;
    font-size: 30px;
}

#menuItems {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

#menuItems li {
    padding: 10px;
    font-size: 24px;
}

.show {
    background-color: white;
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #523623;
    width: 100%;
}

/* Styles for max-width 767px to highlight active links on hover */
@media (max-width: 599px) {
    .small-screen .active {
        display: inline-block;
        width: 100%;
        background-color: #523623;
        color: white;
    }
}

/* Responsive design adjustments for tablet and laptop */
@media (min-width: 600px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    #menuItems {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        margin-left: 5%;
        padding: 0;
    }

    #menuItems li {
        margin: 0 20px;
        display: inline-block;
    }

    #menuItems li a {
        padding: 10px 15px;
        font-weight: bold;
        position: relative;
        overflow: hidden;
        transition: color 0.3s;
    }

    #menuItems li a::before,
    #menuItems li a::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        background-color: #523623;
        transform: scaleX(0);
        transition: transform 0.3s;
        transform-origin: left;
    }

    #menuItems li a::before {
        top: 0;
    }

    #menuItems li a::after {
        bottom: 0;
    }

    #menuItems li a.active::before,
    #menuItems li a.active::after,
    #menuItems li a:hover::before,
    #menuItems li a:hover::after {
        transform: scaleX(1);
    }

    #menuIcon {
        display: none;
    }
}

/* Additional styles for larger screens */
@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}
